<!doctype html>
<head>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<link rel='stylesheet' href='/styles/main.css' type='text/css'>
<link rel="stylesheet" type="text/css" media="screen and (max-width: 750px)" href="/styles/mobile.css">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<body>
    <% include _header %>
    <div class='sidebar'>
      <% include _recent %>
      <% include _tags %>
    </div>
    <% for(var id=0; id<posts.length; id++) { %>
       <div class='post'>
         <h2 class='real_title'><a href='/post/<%=posts[id].filename %>'><%= posts[id].title %></a></h2>
       <div> <%- posts[id].content %> </div>
     </div>
  <% } %>
  <% include _ga %>
