<!doctype html>
<head>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<link rel='stylesheet' href='/styles/main.css' type='text/css'>
<link rel="stylesheet" type="text/css" media="screen and (max-width: 750px)" href="/styles/mobile.css">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
<body>
<% include _header %>
<div class='content'>
<h2 class='real_title'><%= title %></h2>
<%- content %>
</div>
<% include _ga %>
