<!doctype html>
<head>
  <link rel='stylesheet' href='/styles/main.css' type='text/css'>
  <body>
    <% include _header %>
    <div class='post'>
    <% for(var id=0; id<tags.length; id++) { %>
       <div><a href='/tagged/<%- tags[id] %>'><%- tags[id] %></a></div>
    <% } %>
    </div>
    <% include _ga %>
