/* Sushi colors from http://design-seeds.com/index.php/home/entry/sushi-hues4 */
html,
body {
  position: relative;
  margin: 0px;
  padding: 0px;
  font: 16pt "Open Sans", sans-serif;
  /* font-size: 1.5vw; */
  background: #262626;
  color: #d1d1d1;
  height: 100%;
}
a {
  color: #de5c42;
}
a:hover {
  color: white;
}
h1,
h2,
h3,
h4 {
  color: #cfd66b;
}
h2 > a { color: #cfd66b; text-decoration: none; }

/* main page header stuff */
h1 {
  margin: 0px;
  letter-spacing: 10px;
  text-align: right;
}
.splash {
  color: #de5c42;
}
#header {
  text-align: right;
  margin: 10px 20%;
}
#header a {
    text-decoration:none;
}
#header a:hover h1 {
    color: white;
}
#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  clear: both;
  background: black;
  padding: 3px;
  text-align: center;
}
#footer > a {
  margin: 0px 30px;
}
#about {
  background: black;
}
hr {
  clear: both;
}
pre {
    padding:10px;
    font-size:10pt;
    background: #3c4042;
    overflow: auto;
}
code {
    overflow: auto;
    font-size:10pt;
}
.separator {
  min-height: 200px;
  min-width: 1000px;
}
.sidebar {
  position: absolute;
  right: 0%;
  top: 200px;
  width: 250px;
  letter-spacing:0px;
}
.sidebar a { text-decoration:none }
.sidebar ul {
  list-style-type: none;
  padding: 0px;
}
.sidebar li {
  margin: 0px;
}
.sidebar h3 {
  margin: 0px;
  padding: 0px;
}

.post {   background: #3c4042; }
.post, .content {
  border: 0px solid #9ca0a2;
  padding: 10px 20px;
  margin: 0px 300px 30px 50px;
}

.content h2, .post h2 { display:none; }
.content h2.real_title, .post h2.real_title { display:block; }
.content {
    margin: 100px;
}

.content img, .post img {
    max-width: 100%;
}

th { background:#666666; padding:5px; }
td { border:1px solid #666666; padding:3px }
table { border-collapse:collapse; }
