/* Sushi colors from http://design-seeds.com/index.php/home/entry/sushi-hues4 */
@background : #4c5052;
@darker: #262626;
@splash: #de5c42;
@normal: #d1d1d1;
@secondary: #cfd66b;
@secondaryalt: #849e2f;

html,body { 
    position:relative;
    margin:0px; 
    padding:0px;
    font:12pt Calibri, Verdana, Helvetica;
    background: @darker;
    color: @normal;
    height:100%;
}
a { color: @splash; }
a:hover { color:white; }
h1,h2,h3,h4 { color: @secondary; }

/* main page header stuff */
h1 { margin:0px; letter-spacing:10px; 
     text-align:right;
}
.splash { color:@splash; }
#header { 
    text-align:right;
    margin:10px 20%;
}

#footer { 
    position:fixed; bottom:0px; width:100%;
    clear:both;
    background: black;
    padding:3px;
    text-align:center;
}
#footer>a { 
    margin:0px 30px;
}
#about { background:black; }

hr { clear:both; }

.post code { 
    overflow:scroll;
    font-size:10pt;
}
.separator { 
    min-height:200px;    
    min-width: 1000px;
}
.post { 
    border:0px solid @secondary; 
    padding:10px 20px;
    background:@background; 
    margin:0px auto;
    xmargin-right:320px;
    max-width:805px;
}
.post h2, .header { 
    margin:-10px -20px;
    padding:3px 10px;
    margin-bottom:10px;
    background:@darker;
}

.sidebarwrapper { 
    position:absolute;
    right:0px;
}
.sidebar { 
    position:absolute;
    right:0%;
    top: 200px;
    width:250px;
}
.sidebar-item { 
    background: @background;
    border-top:3px solid @secondaryalt;
    margin-bottom:50px;
    padding:10px;
}
.sidebar ul { 
    list-style-type:none;
    padding:0px;
}
.sidebar li { 
    margin:0px;
}
.sidebar-item h3 { margin:0px; padding:0px; }
.sidebar a { 
            
}